<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/styles_dashboard.css">
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <section>
            <img src="/assets/img/analítica.png" alt="">
        </section>
        <section>
            <img class="buscar" src="/assets/img/búsqueda.png" alt="Buscar">
            <img class="usuario" src="/assets/img/usuario.png" alt="">
        </section>
    </div>

    <!-- Contenedor de Cards (Vertical) -->
    <div class="cards-container">
        
        <div class="card">
            <img src="/assets/img/empleados.png" alt="Imagen 1">
            <div class="card-title">Empleados</div>
        </div>
        <a href="../tables/tablaventas.html">
            <div class="card">
                <img src="/assets/img/ventas.png" alt="Imagen 2">
                <div class="card-title">Ventas</div>
            </div>
        </a>
        <div class="card">
            <img src="/assets/img/productos.png" alt="Imagen 2">
            <div class="card-title">Productos</div>
        </div>
        <a href="">
            <div class="dashboard">
                <img src="/assets/img/dashboard.png" alt="Imagen 2">
                <div class="card-title">Dashboard</div>
            </div>
        </a>
    </div>

    <!--Dashboard-->
    <div class="dashboard-container">
        <section class="dash">

        </section>
    </div>
</body>

</html>
