<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="shortcut icon" href="/assets/img/analítica.png" type="image/x-icon">

    <title>BusinessView</title>
</head>
<body>

    <div class="navbar">
        <section>
            <img src="/assets/img/analítica.png" alt="">
        </section>
        <section>
            <img class="buscar" src="/assets/img/búsqueda.png" alt="Buscar">
            <img class="usuario" src="/assets/img/usuario.png" alt="">
        </section>
    </div>

    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-item">
                <img src="/assets/img/1.jpg" alt="Imagen 1">
                <div class="overlay">
                    <h2>Empleados</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/2.jpg" alt="Imagen 2">
                <div class="overlay">
                    <h2>Ventas</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/3.jpg" alt="Imagen 3">
                <div class="overlay">
                    <h2>Productos</h2>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="contexto">
        <h1>Bienvenido a BusinessView</h1>
        <div class="cards-container">
            <p>Una herramienta está diseñada obtener información  a partir de tus datos de ventas, empleados y productos. Con la capacidad de analizar un gran volumen de información, podrás tomar decisiones fundamentadas y estratégicas para tu negocio.</p>
            <div class="card">
                <img src="/assets/img/empleados.png" alt="Imagen 1">
                <div class="card-title">Empleados</div>
            </div>
            <div class="card">
                <img src="/assets/img/ventas.png" alt="Imagen 2">
                <div class="card-title">Ventas</div>
            </div>
            <div class="card">
                <img src="/assets/img/productos.png" alt="Imagen 2">
                <div class="card-title">Productos</div>
            </div>
            <a href="dashboard.html">
                <div class="dashboard">
                    <img src="/assets/img/dashboard.png" alt="Imagen 2">
                    <div class="card-title">Dashboard</div>
                </div>
            </a>
        </div>

</body>
</html>